<div class="container">
    <div class="remove-bg" [class.active]="isMenuActive"></div>
    <header class="header">
        <a href="/" class="logo">FrontTest</a>
        <div class="auth" [class.active]="isMenuActive">
            <a href="/register" class="register">Регистрация</a>
            <a href="/login" class="login">Вход</a>
        </div>
        <div class="burger" [class.active]="isMenuActive" (click)="makeActive()">
            <div class="middle-line" [class.active]="isMenuActive"></div>
        </div>
    </header>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
</div>